{% extends 'header.html' %}
{% block content %}
<div class="col-md-1 back-icon" style="margin-bottom: 30px;">
  <form>
      <a href="{{ url_for('constituents.constituent_objects', id=current_constituentID) }}" style="color: #212529; margin: 25px; margin-top: 150px;" ><i class="fa-solid fa-arrow-left fa-2xl"></i></a>
  </form>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
<div style="margin: 25px 40px;">
<form class="row g-3" action="{{ url_for('constituents.add_constituent_object', id=current_constituentID) }}" method="post">
  <div class="col-md-4">
    <label for="objectid" class="form-label required">Object Name</label>
    <select id="objectid" name="objectid" class="form-select" required="required">
      {% for i in object_ids %}
      <option>{{ i[0] }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-4">
    <label for="constituentid" class="form-label required">Constituent Name</label>
    <select id="constituentid" name="constituentid" class="form-select" required="required">
      <option selected> {{ current_constituentID }} </option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="roletype" class="form-label required">Role Type of the Constituent</label>
    <select id="roletype" name="roletype" class="form-select" required="required">
      <option selected>artist</option>
      <option>donor</option>
      <option>owner</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="role" class="form-label required">Role of the Constituent</label>
    <input type="text" maxlength="64" class="form-control" id="role" name="role" required="required">
  </div>
  <div class="col-md-4">
    <label for="displaydate" class="form-label">Display Date</label>
    <input type="text" maxlength="128" class="form-control" id="displaydate" name="displaydate">
  </div>
  <div class="col-md-4">
    <label for="displayorder" class="form-label required">Display Order</label>
    <input type="number" class="form-control" id="displayorder" name="displayorder" required="required">
  </div>
  <div class="col-md-4">
    <label for="country" class="form-label">Country</label>
    <input type="text" maxlength="64" class="form-control" id="country" name="country">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary btn-lg custom-bg" style="background-color: #212529; border: none;">Add constituent object</button>
  </div>
</form>
</div>
{% endblock %}