{% extends 'header.html' %}
{% block content %}
<title>Constituents</title>
<form action="" method="post">
  <div>
    <button type="submit" class="btn btn-primary btn-lg custom-bg" name="add-constituent" id="add-constituent"><i class="fa-solid fa-plus"></i> Add Constituent</button>
  </div>
</form>
<form action="{{ url_for('constituents.constituents_page') }}" method="post">
  <div class="container mt-2">
    <div class="row d-flex justify-content-center ">
      <div class="col-md-6">
        <div class="card">
          <div class="input-box">
            <input type="text" name="constituent-search" id="constituent-search" placeholder="Search" class="form-control">
            <i class="fa fa-search"></i>               
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div>
  {{ pagination.info }}
  {{ pagination.links }}
</div>
<div class="container px-2">
  <div class="row">
    {% for constituent in constituents_list %}
    <div class="col-4 mb-4">
      <div class="list-div p-3">
        <div>
          <a class="margin-after" href=" {{ url_for('constituents.edit_constituent', constituentid=constituent.constituentid) }} "><i class="fa-regular fa-pen-to-square"></i> Edit</a>
          <a class="margin-after" href="#" onclick="confirmDelete('{{ url_for('constituents.delete_constituent', constituentid=constituent.constituentid) }}')" id="delete" name="delete"><i class="fa-solid fa-delete-left"></i> Delete</a>
        </div>
        <div>
          <ul id="constituents_list">
            <li>
              <h4>
                <a href="{{ url_for('constituents.constituent_objects', id=constituent.constituentid) }}">
                <span class="constituent-name" data-constituent-id="{{ constituent.constituentid }}">
                {{ loop.index + (page - 1) * per_page }}. {{ constituent.forwarddisplayname }}
                </span>
            </a>
              </h4>
              <ul>
                {% if constituent.constituenttype %}
              <li>
                <strong>Constituent Type:</strong> {{ constituent.constituenttype }}
              </li>
              {% endif %}
                {% if constituent.ulanid %}
              <li>
                <strong>ULAN ID:</strong> {{ constituent.ulanid }}
              </li>
              {% endif %}
              {% if constituent.beginyear or constituent.endyear %}
              <li>
                {% if constituent.beginyear %} <strong>Birth:</strong> {{ constituent.beginyear }}{% endif %}&nbsp;&nbsp;&nbsp;{% if constituent.endyear %}<strong>Death:</strong> {{ constituent.endyear }}{% endif %}
              </li>
              {% endif %}
              {% if constituent.nationality %}
              <li>
                <strong>Nationality:</strong> {{ constituent.nationality }}
              </li>
              {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{{ pagination.links }}
{% endblock %}