{% extends 'header.html' %}
{% block content %}

<form action="" method="post">
    <div>
        <button type="submit" class="btn btn-primary btn-lg custom-bg" name="add-constituent" id="add-constituent"><i class="fa-solid fa-plus"></i> Add or Edit Constituent</button>
    </div>
</form>
<form action="{{ url_for('constituents.constituents_page') }}" method="post">
    <div class="container mt-2">
        <div class="row d-flex justify-content-center ">
            <div class="col-md-6">
                <div class="card">
                    <div class="input-box">
                        <input type="text" name="constituent-search" id="constituent-search" placeholder="Search" class="form-control">
                        <i class="fa fa-search"></i>               
                    </div>
                </div> 
            </div>
        </div>
    </div>
</form>

<ol id="constituents-list"> 
    {% for constituent in constituents %} 
        <li>
            <span class="constituent-name" data-constituent-id="{{ constituent.constituentid }}">
                {{ constituent.preferreddisplayname }}
            </span>
            <div class="media-container">
                {% set media = get_constituent_media_by_id(constituent.constituentid) %}
                {% if media is not none %}
                    {% for m in media %}
                        <img src="{{ m[0] }}" alt="Constituent Image">
                    {% endfor %}
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ol>


{% endblock %}
