{% extends 'header.html' %}
{% block content %}

{% if  constituent_objects[0] %}
<h1>Contributions by {{constituent_objects[0].constituent_forward_display_name}}</h1>
{% endif %}

<div class="row align-items-center">
    <div class="col-md-1 back-icon">
        <form>
            <a href="{{ url_for('constituents.constituents_page') }}" ><i class="fa-solid fa-arrow-left fa-2xl"></i></a>
        </form>
    </div>
    <div class="col-md-3">
        <form action="{{ url_for('constituents.constituent_objects', id=constituentID) }}" method="POST">
            <button type="submit" class="btn btn-primary btn-lg custom-bg" style="margin: 10px 20px;" name="add-constituent" id="add-constituent">Add constituent object</button>
        </form>
    </div>
</div>

<form action="{{ url_for('constituents.constituent_objects', id=constituentID) }}" method="post">
    <div class="container mt-2">
        <div class="row d-flex justify-content-center ">
            <div class="col-md-6">
                <div class="card">
                    <div class="input-box">
                        <input type="text" name="constituent-search" id="constituent-search" placeholder="Search" class="form-control">
                        <i class="fa fa-search"></i>               
                    </div>
                </div> 
            </div>
        </div>
    </div>
</form>

<div>
    {{ pagination.info }}
    {{ pagination.links }}
</div>

<div class="container px-2">
    <div class="row">
        {% for object_info in constituent_objects %}
        {% if object_info.objectID != None %}
        <div class="col-4 mb-4">
            <div class="list-div p-3">
                <div>
                    <a class="margin-after" href="{{ url_for('constituents.update_constituent_object', constituent_id=object_info.constituentID, relation_id=object_info.id) }}"><i class="fa-regular fa-pen-to-square"></i> Edit</a>
                    <a class="margin-after" href="{{ url_for('constituents.delete_constituent_object', relationid=object_info.id, constituentid=object_info.constituentID) }}" id="delete" name="delete"><i class="fa-solid fa-delete-left"></i> Delete</a>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="{{url_for('objects.object_page', objectid=object_info.objectID)}}">
                                <h4>{{ object_info.object_title }}</h4>
                            </a>
                            <h5>Role type: {{ object_info.role_type }}</h5>
                            <h5>Role of the constituent: {{ object_info.role }}</h5>
                            <h5>Display date: {{ object_info.display_date }} </h5>
                            <h5>Country: {{ object_info.country }} </h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{{ pagination.links }}

{% endblock %}