{% extends "header.html" %}
{% block title %}OBJECTS{% endblock %}
{% set js_script = '' %}

{% block content %}
<title>OBJECTS</title>

<body>
  <h1>OBJECTS</h1>
  <button onclick="window.location.href='/objects/object_addition'">Add Object</button>

  <form action="/objects" method="GET">
    <div class="searchBarfortitle">
      <input type="text" name="title" placeholder="Search by Title" {% if title_filter %} value="{{ title_filter }}" {%
        endif %}>
    </div>

    <div class="searchBarforCreditLine">
      <input type="text" name="creditLine" placeholder="Search by Credit Line" {% if credit_line_filter %}
        value="{{ credit_line_filter }}" {% endif %}>
    </div>

    <div class="classificationFiltering">
      <h5>Filter by Classification</h5>
      <input type="checkbox" name="classification" value="Painting">Painting<br>
      <input type="checkbox" name="classification" value="Print">Print<br>
      <input type="checkbox" name="classification" value="Sculpture" {% if "Sculpture" in selected_classifications %}
        checked {% endif %}>Sculpture<br>
      <input type="checkbox" name="classification" value="Drawing" {% if "Drawing" in selected_classifications %}
        checked {% endif %}>Drawing<br>
      <input type="checkbox" name="classification" value="Volume" {% if "Volume" in selected_classifications %} checked
        {% endif %}>Volume<br>
      <input type="checkbox" name="classification" value="Portfolio" {% if "Portfolio" in selected_classifications %}
        checked {% endif %}>Portfolio<br>
      <input type="checkbox" name="classification" value="Photograph" {% if "Photograph" in selected_classifications %}
        checked {% endif %}>Photograph<br>
      <input type="checkbox" name="classification" value="New Media" {% if "New Media" in selected_classifications %}
        checked {% endif %}>New Media<br>
      <input type="checkbox" name="classification" value="Decorative Art" {% if "Decorative Art" in
        selected_classifications %} checked {% endif %}>Decorative Art<br>
      <input type="checkbox" name="classification" value="Technical Material" {% if "Technical Material" in
        selected_classifications %} checked {% endif %}>Technical Material<br>
    </div>

    <div class="sortByTitle">
      <h6>Sorting Strategy on Title:</h6>
      <select name="sort">
        <option value="none" {% if sort == "none" %} selected {% endif %}>None</option>
        <option value="asc" {% if sort == "asc" %} selected {% endif %}>Ascending</option>
        <option value="desc" {% if sort == "desc" %} selected {% endif %}>Descending</option>
      </select>
    </div>
    
    <div class="submitbutton">
      <input type="submit" value="Filter">
    </div>
  </form>

  <div>
    {{ pagination.info }}
    {{ pagination.links }}
  </div>

  <div class="tableDiv">
    <table class="table" id="objectsTable">
      <thead>
        <tr>
          <th>Title</th>
          <th>Accessioned</th>
          <th>Accession Number</th>
          <th>Begin Year</th>
          <th>End Year</th>
          <th>Medium</th>
          <th>Attribution</th>
          <th>Credit Line</th>
          <th>Classification</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in objects %}
        {% if obj.objectid != None %}
        <tr data-obj-id="{{ obj.objectid }}">
          <!--title is also a href -->
          <td><a href="/objects/{{ obj.objectid }}">{{ obj.title }}</a></td>
          <td>{{ obj.accessioned }}</td>
          <td>{{ obj.accessionnum }}</td>
          <td>{{ obj.beginYear }}</td>
          <td>{{ obj.endYear }}</td>
          <td>{{ obj.medium }}</td>
          <td>{{ obj.attribution }}</td>
          <td>{{ obj.creditLine }}</td>
          <td>{{ obj.classification }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll("#objectsTable tbody tr").forEach(function (row) {
        row.addEventListener("dblclick", function (event) {
          event.preventDefault();
          window.location.href = "/objects/" + row.getAttribute("data-obj-id");
        });
      });
    });

  </script>
</body>

{% endblock %}