{% extends "header.html" %}
{% block title %} Media {% endblock %}
{% block content %}
<title>National Art Gallery</title>
    <h1 class=" title"> Media Add/Edit/Delete Page </h1>
    <form action="" method="post" name="movie_edit">

      <div class="field">
        <label for="id" class="label">Table</label>
        <div class="control">
            <select name="table" class="select" required="no">
                <option value="Object" {% if values['table'] == 'Object' %}selected{% endif %}>Object</option>
                <option value="Constituent" {% if values['table'] == 'Constituent' %}selected{% endif %}>Constituent</option>
            </select>
        </div>
    </div>
    
    

        <div class="field">
            <label for="id" class="label">ID</label>
            <div class = "control"> 
                <input type="text" name="mediaid" class="input" required="required" value="{{ values['mediaid'] }}"/>
            </div>
        </div>

        <div class="field">
            <label for="id" class="label">Title</label>
            <div class = "control"> 
              <input type="text" name="title" class="input" value="{{ values['title'] }}"/>
          </div>
        </div>

        <div class="field">
          <label for="id" class="label">Description</label>
          <div class = "control"> 
            <input type="text" name="description" class="input" value="{{ values['description'] }}"/>
        </div>
      </div>

      <div class="field">
        <label for="id" class="label">ThumbnailUrl</label>
        <div class = "control"> 
          <input type="text" name="thumbnailurl" class="input" value="{{ values['thumbnailurl'] }}"/>
      </div>
    </div>

    <div class="field">
      <label for="id" class="label">PlayUrl</label>
      <div class = "control"> 
        <input type="text" name="playurl" class="input" value="{{ values['playurl'] }}"/>
    </div>
  </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary is-small" >Save</button>
            </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
              <button class="button is-primary is-small" >Delete</button>
          </div>
      </div>
        
    </form>
{% endblock %}