{% extends "header.html" %}
{% block title %} Floor {% endblock %}
{% block content %}
    <h1 class=" title"> Floor Edit Page </h1>
    <form action="" method="post" name="floor_edit">

        <div class="field">
            <label for="name" class="label">Name</label>
            <div class = "control"> 
                <input type="text" name="name" class="input" required="required" value="{{ values['name'] }}"/>
            </div>
        </div>

        <div class="field">
            <label for="is_public" class="label">IsPublic</label>
            <div class = "control"> 
                <input list = "publicity" type="text" name="isPublic" required="required" value="{{ values['isPublic'] }}"/>
                <datalist id = "publicity" >
                    <option value="Yes">
                    <option value= "No">
                </datalist>
            </div> 
        </div>

        {% if values['rooms'] %}
            {% for room in values['rooms']%}  
                <li>{{room[0]}}</li>                               
            {% endfor %}   
        {% endif %}
        <div class="field">
            <label for="rooms[]" class="label">Rooms</label>
            <div class = "control" id = "roomInputContainer"> 
                <input type="text" name="rooms[]" required="option"/>
            </div> 
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary is-small" id="addRoomBtn">Add Room</button>
                </div>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary is-small">Save</button>
            </div>
        </div>
        
    </form>
    <script>
        document.getElementById('addRoomBtn').addEventListener('click', function () {
            // Create a new input field
            var newInput = document.createElement('input');
            newInput.type = 'text';
            newInput.name = 'rooms[]'; // Use an array if you expect multiple floor inputs
            newInput.placeholder = 'Enter room name';
            newInput.required = true;
    
            // Append the new input field to the container
            document.getElementById('roomInputContainer').appendChild(newInput);
        });
    </script>
{% endblock %}
