{% extends "header.html" %}
{% block title %} Rooms {% endblock %}
{% block content %}

    <h1> {{floor.name}} </h1>

    <h2>   Rooms </h2>
    <form action="" method="post">
        <div class="field is-grouped">
            <div class="control">
              <a class="button is-primary is-outlined is-small"
                 href="{{url_for('locations.floor_edit_page', floor_id=floor.key)}}">Edit</a>
            </div>
        </div>   

        <table class="table">
            {% if rooms %}
            <table>
                {% for room in rooms%}
                <tr>
                    <td>
                    <li><a href = "{{url_for('locations.room_page', room_id = room[1] )}}">{{room[0]}}</a></li>            
                    </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </table>
        <div class="field is-grouped">
            <div class="control">
                <label class="button">
                    <button class="button is-danger" type="submit" name="delete">DELETE FLOOR</button>
                </label>  
            </div>
        </div>
    </form>

{% endblock %}