{% extends "header.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="home-bg">
  <div class="container text-center">
    <h1 class="big-text">Welcome</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a href="{{url_for('objects.objects_page')}}">
        <div class="box">
          <h4>Objects</h4>
          <p>Art objects are a core entity of the collection extract.  Objects are physical or logical constructs and all but a very small number of them in this extract are NGA objects with accession numbers.</p>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="{{url_for('constituents.constituents_page')}}">
        <div class="box">
          <h4>Constituents</h4>
          <p>A constituent is a single person or a group of persons. Constituents in the extract typically have a relationship with one or more objects in the public objects extract. Relationships are defined in another table, but a constituent may be an artist, an owner, or a donor, or all of these.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a href="{{url_for('locations.locations_page')}}">
        <div class="box">
          <h4>Locations</h4>
          <p>The location represents the physical public location of an art object within the confines of the National Gallery of Art’s Washington, D.C. campus.</p>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="{{url_for('media.media_page')}}">
        <div class="box">
          <h4>Media</h4>
          <p>A table containing audio and video items published to www.nga.gov</p>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}