{% extends "navbar.html" %}
{% block title %} Locations {% endblock %}
{% block main_content %}
    <h1 class=" title"> Locations </h1>
    {% if locations %}
    <form action="" method="post">
        <table>
            {% for location_key, location in locations%}
            <tr>
                <td>
                <label class = "checkbox">
                    <input type="checkbox" name="location_keys" value="{{ location_key }}">
                </label>
                <a href="{{ url_for('location_page', location_key=location_key) }}">
                </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
    {% endif %}
{% endblock %}