{% extends "header.html" %}
{% block title %} Locations {% endblock %}
, location{% block content %}
    <h1 class=" title"> Locations </h1>
    {% if locations %}
    <form action="" method="post">       
            {% for location in locations%}
                {{location[0]}}           
                <div id = location[1]>
                    {% for floor in location[2]%}          
                        <li><a href="{{url_for('locations.floor_page', floor_id=floor[1])}}">{{floor[0]}}</a></li>                                  
                    {% endfor %}                     
                </div>
            {% endfor %}
    </form>
    {% endif %}
{% endblock %}