{% extends "header.html" %}
{% block title %} Rooms {% endblock %}
{% block content %}
    <h1> Rooms </h1>
    <form action="" method="post">
        <table class="table">
            {% if rooms %}
            <table>
                {% for room in rooms%}
                <tr>
                    <td>
                    <li>{{room[0]}}</li>            
                    </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </table>
    </form>
{% endblock %}