{% extends "header.html" %}
{% block title %} Floors {% endblock %}
{% block content %}
    <h1> Floors </h1>
    <form action="" method="post">
        <table class="table">
            {% if floors %}
            <table>
                {% for floor in floors%}
                <tr>
                    <td>
                    <li>{{floor[0]}}</li>            
                    </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </table>
    </form>
{% endblock %}