{% extends "header.html" %}
{% block title %}{{ object.title }}{% endblock %}
{% set js_script = '''

''' %}

{% block content %}
<title>{{ object.title }} Detailed</title>
{% if object %}

<body>
  <h2>Artwork Details</h2>
  <button id="updateButton" onclick="window.location.href='/objects/{{ object.objectid }}/edit'">Update</button>
  <button id="deleteButton">Delete</button>

  <div class="endisdiv">
    <div class="photoOfArtwork">
      <img src="https://media.nga.gov/iiif/1c778a35-9e33-4fbf-8573-bd3665b437fc/full/!588,600/0/default.jpg"
        alt="Artwork Photo">
    </div>
    <div class="objectDescription">
      <h3>Artist Name</h3>
      <p class="subtitle">{{ object.title }}</p>
      <h3>is Virtual</h3>
      <p>{{ object.isVirtual }}</p>
      <hr>
      <h3>Medium</h3>
      <p>{{ object.medium }}</p>
      <h3>Dimensions</h3>
      <p>{{ object.dimensions }}</p>
      <h3>Credit Line</h3>
      <p>{{ object.creditLine }}</p>
      <h3>Accession Number</h3>
      <p>{{ object.accessionnum }}</p>
      <h3>Artists / Makers</h3>
      <p>{{ object.attribution }}</p>
      <h3>Image Use</h3>
      <p>{{ object.customPrintURL }}</p>
      <h3>Status for Related Objects</h3>
      <p>{{ object.visualBrowserClassification }}</p>

      <h3>Location: </h3>
      <h4>Site<h4>
          <p> {{ objectLocation.site}}</a></p>
          <h4>Room</h4>
          <p>{{objectLocation.room}} </p>
          <h4>desc</h4>
          <p>{{objectLocation.decription}} </p>
    </div>
  </div>
  <div class="div3">
    <h2>Inscription</h2>
    <p>{{ object.inscription }}</p>

    <h2>Provenance</h2>
    <p>{{ object.provenanceText }}</p>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const deleteButton = document.getElementById("deleteButton");

      deleteButton.addEventListener("click", function () {
        const isConfirmed = confirm("Are you sure you want to delete this art object?");

        if (isConfirmed) {
          // Send a POST request to the server to delete the object
          fetch("/objects/{{ object.objectid }}", {
            method: "POST",
          })
            .then(response => response.json())
            .then(data => {
              // Redirect to the objects page after successful deletion
              if (data.success) {
                window.location.href = "/objects";
              } else {
                alert("Failed to redirect");
              }
            })
            .catch(error => {
              console.error("Error deleting object:", error);
              alert("An error occurred while deleting the object.");
            });
        }
      });
    });
  </script>

</body>
{% endif %}
{% endblock %}