{% extends "header.html" %}
{% block title %} Locations {% endblock %}
{% block content %}
<h1 class="title"> OBJECTS </h1>
{% if objects %}
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Accessioned</th>
            <th>Accession Number</th>
            <th>Begin Year</th>
            <th>End Year</th>
            <th>Medium</th>
            <th>Attribution</th>
            <th>Credit Line</th>
            <th>Classification</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in objects %}
        <tr>
            <td>{{ obj.title }}</td>
            <td>{{ obj.accessioned }}</td>
            <td>{{ obj.accessionnum }}</td>
            <td>{{ obj.beginYear }}</td>
            <td>{{ obj.endYear }}</td>
            <td>{{ obj.medium }}</td>
            <td>{{ obj.attribution }}</td>
            <td>{{ obj.creditLine }}</td>
            <td>{{ obj.classification }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}