{% extends "header.html" %}
{% block title %} Room {% endblock %}
{% block content %}
    <h1 class=" title"> Room Edit Page </h1>
    <form action="" method="post" name="room_edit">

        <div class="field">
            <label for="name" class="label">Name</label>
            <div class = "control"> 
                <input type="text" name="name" class="input" required="required" value="{{ values['name'] }}"/>
            </div>
        </div>

        <div class="field">
            <label for="is_public" class="label">IsPublic</label>
            <div class = "control"> 
                <input list = "publicity" type="text" name="isPublic" required="required" value="{{ values['isPublic'] }}"/>
                <datalist id = "publicity" >
                    <option value="Yes">
                    <option value= "No">
                </datalist>
            </div> 
        </div>

        {% if values['objects'] %}
            {% for object in values['objects']%}  
                <li>{{object[0]}}</li>                               
            {% endfor %}   
        {% endif %}
        <div class="field">
            <label for="objects[]" class="label">Objects</label>
            <div class = "control" id = "objectInputContainer"> 
                <input type="text" name="objects[]" required="option"/>
            </div> 
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary is-small" id="addObjectBtn">Add Object</button>
                </div>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary is-small">Save</button>
            </div>
        </div>
        
    </form>
    <script>
        document.getElementById('addObjectBtn').addEventListener('click', function () {
            // Create a new input field
            var newInput = document.createElement('input');
            newInput.type = 'text';
            newInput.name = 'objects[]'; // Use an array if you expect multiple floor inputs
            newInput.placeholder = 'Enter object id';
            newInput.required = true;
    
            // Append the new input field to the container
            document.getElementById('objectInputContainer').appendChild(newInput);
        });
    </script>
{% endblock %}
