body{

    background-color: #eee; 
  }
  
.card{

  background-color: #fff;
  padding: 15px;
  border:none;
}

.input-box{
  position: relative;
}

.input-box i {
  position: absolute;
  right: 13px;
  top:15px;
  color:#ced4da;

}

.form-control{

  height: 50px;
  background-color:#eeeeee69;
}

.form-control:focus{
  background-color: #eeeeee69;
  box-shadow: none;
  border-color: #eee;
}


.list{

  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;

}

.border-bottom{

  border-bottom: 2px solid #eee;
}

.list i{
  font-size: 19px;
  color: red;
}

.list small{

  color:#dedddd;
}


.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  }
  
  .table th,
  .table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  }
  
  .table th {
  background-color: rgb(236, 239, 245);
  }
  
  tr:nth-child(even) {
  background-color: rgb(188, 193, 202);
  }