.long{
    width: 5000px ;
}
.img-container {
    position: relative;
    display: inline-block; /* Ensure the container takes only the space of the image */
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
    pointer-events: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none; /* Allow events to go through the overlay to the image */
}

.room-area {
    outline: none;
    width: 200%;
    height: 200%;
    border: 5px;
}

.location-img {
    justify-content: center;
    object-fit: cover;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.filter-group {
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
}

.filter-group h5 {
    margin-bottom: 5px;
}

.filter-options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 4px;
    z-index: 1;
}

.filter-group:hover .filter-options {
    display: block;
}

.filter-options label {
    display: block;
    margin-bottom: 2px;
}

.submitbutton {
    background-color: #212529;  
    margin-top: 10px;
}
.sidenav {
    width: 350px;
    position:absolute;
    z-index: 1;
    top: 250px;
    right: 10px;
    background: #dadbdd;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
.building {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #111213;
    display: block;
  }
  
.sidenav .building .dropdown {
    display: none;
    padding-left: 20px;
}

.sidenav .building.active .dropdown {
    display: block;
}

.floor {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #111213;
    display: block;
  }
  
.sidenav .floor .dropdown {
    display: none;
    padding-left: 20px;
}

.sidenav .floor.active .dropdown {
    display: block;
}

.tableDiv {
    margin-right: 353px; /* Same width as the sidebar + left position in px */
    font-size: 15px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

#objectsidenav{
    width: 250px;
    padding: 20px;
    margin-right: auto;
}

#objectTablediv{
    margin-right: 260px;
}

 
p.help.has-background-warning {
    display: inline-block;
    color: #d20a0a;
    padding: 2px;
    border-radius: 5px;
    font-size: small;
}


#objectsidenav{
    width: 250px;
    padding: 20px;
    margin-right: auto;
}

#objectTablediv{
    margin-right: 260px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}