{% extends "header.html" %}
{% block title %} Rooms {% endblock %}
{% block content %}
    <h1> {{floor.name}} </h1>

    <h2>   Rooms </h2>
    <form action="" method="post"> 
        <button class="button is-danger" name="edit">Edit</button>
        <button class="button is-danger is-small" name = "delete" onclick="return confirmDelete()">Delete</button>
    </form>
        <table class="table">
            {% if rooms %}
            <table>
                {% for room in rooms%}
                <tr>
                    <td>
                    <li><a href = "{{url_for('locations.room_page', room_id = room[1] )}}">{{room[0]}}</a></li>            
                    </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            <form action="" method="post">
                <button type="submit" class="btn btn-primary btn-lg custom-bg" name = "addRoom">
                    <i class="fa-solid fa-plus"></i> Add Room
                </button>
            </form>
        </table>
   
    <script>
        function confirmDelete() {
            return confirm('Are you sure you want to delete this item');
        }
    </script>

{% endblock %}