{% extends "header.html" %}
{% block title %} Locations {% endblock %}
{% block content %}
    <h1 class=" title"> Locations </h1>
    
    <div class="search-container">
        <form action="" method = "get" name = "search">
            <div class="container mt-2">
                <div class="row d-flex justify-content-center ">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="input-box">
                                <input type="text" name="locations-search" id="locations-search" placeholder="Search" class="form-control">
                                <i class="fa fa-search"></i>               
                            </div>
                        </div> 
                    </div>
                </div>
        </form>
    </div>

    <form action="" method = "post">
        <div>
            <h5>Public</h5>
            <input type="radio" name="public" value='1'> Yes<br>
            <input type="radio" name="public" value='0'> No<br>
        </div>
        <div>
            <h5>Location type</h5>
            <input type="checkbox" name="locationtype" value="building"> Building<br>
            <input type="checkbox" name="locationtype" value="floor"> Floor<br>
            <input type="checkbox" name="locationtype" value="room"> Room<br>
        </div>
        <div class="submitbutton">
            <input type="submit" value="Filter">
        </div>
    </form>

    
    <div class="tableDiv">
        <table class="table" id="locationsTable">
          <thead>
            <tr>
              <th>Description</th>
              <th>Public</th>
              <th>Location Type</th>
              <th>Building</th>
            </tr>
          </thead>
          <tbody>
            {% if locations %}
                {% for location in locations %}
                <tr location-id="{{ location.key }}" location-type="{{ location.type }}">
                <td>{{ location.name }}</td>
                <td>
                 {% if location.isPublic == 1 %}
                        <p>Yes</p>   
                 {% else %}
                        <p>No</p>
                {% endif %} 
                </td>
                <td>{{ location.type }}</td>
                <td>
                    {% if location.path["building"] %}
                    {{ location.path["building"].name }}
                    {% endif %} 
                </td>
                {% endfor %}
            {% else %}
                <td><b>No locations found</b></td>
            {% endif %}
          </tbody>
        </table>
      </div>
        
    <div class = "sidenav">
    
    <aside>
    {% if buildings %}   
            {% for building in buildings%}                      
                <div id = building[1] class = "building">                   
                    <a href="{{url_for('locations.building_page', building_id=building[1])}}">{{building[0]}}</a>
                    
                    <div class = dropdown>
                        {% for floor in building[2]%}  
                            <li><a href="{{url_for('locations.floor_page', floor_id=floor[1])}}">{{floor[0]}}</a></li>                               
                        {% endfor %}    
                    </div> 
                </div>
            {% endfor %} 
    {% endif %}
    <form action="{{ url_for('locations.building_add_page') }}" method="get">
        <button type="submit" class="btn btn-primary btn-lg custom-bg">
            <i class="fa-solid fa-plus"></i> Add Building
        </button>
    </form>
    </aside>
    </div>

    
    <script>
        function confirmDelete() {
            return confirm('Are you sure you want to delete this item');
        }
        document.addEventListener("DOMContentLoaded", function () {
          document.querySelectorAll("#locationsTable tbody tr").forEach(function (row) {
            row.addEventListener("dblclick", function (event) {
              event.preventDefault();
              if (row.getAttribute("location-type") === "building"){
                window.location.href = "/locations/building/" + row.getAttribute("location-id");  
              }  
              else if (row.getAttribute("location-type") === "floor"){
                window.location.href = "/locations/floor/" + row.getAttribute("location-id");
              } 
              else{
                window.location.href = "/locations/room/" + row.getAttribute("location-id");
              }
            });
          });
        });
        
        document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".building").forEach(function (building) {
            building.addEventListener("click", function () {
                building.classList.toggle("active");
            });
        });
        });
        document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".building").forEach(function (building) {
            building.addEventListener("mouseenter", function () {
                building.classList.add("active");
            });

            building.addEventListener("mouseleave", function () {
                building.classList.remove("active");
            });
        });
        });


      </script>

{% endblock %}
